.thumbnail {
    border-radius: 5px;
    background-color: var(--cobalt);
    position: relative;
}
.thumbnail.tproduct {
    min-width: 196px;
    min-height: 196px;
}
.thumbnail #details {
    position: absolute;
    bottom: 16px;
}

@media (max-width: 1024px) {
    .thumbnail.tproduct {
        min-width: unset;
        min-height: unset;
        width: 152px;
        height: 152px;
    }
}
