.wait-user-list .wait-user {
    margin-bottom: 34px;
}

@media (max-width: 1024px) {
    .wait-user-list .wait-user {
        margin-bottom: 42px;
    }
    .wait-user-list {
        padding-top: 46px;
    }
}
