.shopping-cart-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 59px;
    height: 50.8px;
}
.shopping-cart-icon img {
    position: absolute;
}
