.shopping-cart-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 59px;
    height: 50.8px;
}
.shopping-cart-icon img {
    position: absolute;
}

@media (max-width: 1024px) {
    .shopping-cart-icon img:nth-child(2){
        width: 18.5px;
    }
    .shopping-cart-icon {
        width: 34.3px;
    }
}
